/*  COLORS */
$brand-primary-color: #494d55;
$grey: #323B4C;
$light-grey: #EEE;
$black: #000;
$white: #fff;
$yellow: #c9b414;
$orange: #f97800;
$button-color: #43A3C7;
$button-color-hover: #5cb9db;
$list-color-hover: #f2f2f2;

/* IMAGES PATHS */
$background-image-tesla-rear: "../../images/tesla-rear-three-quarter.jpg";

/* PAGE STYLING */

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $helvetica;
  font-weight: normal;
  color: $brand-primary-color;
}

h1 {
  margin: 0;
  font-size: 2.75em;
}

h2 {
  @include margin(.625em 0);
  display: inline-block;
  float: left;
  color: $grey;
  font-size: 1.8em;
  font-weight: 300;

  @include media($mobile){
    float: none;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 0.9em;
}

p {
  @include margin(0);
}

header {
  @include position(fixed, 0);
  @include padding(1.25em 0em 0em 0em);
  width: 100%;
  background-color: rgba($brand-primary-color, 0.7);
  max-height: 3.2em;
  z-index: 100;

  @include media($mobile){
    background-color: rgba($brand-primary-color, 1);
  }
}

nav {
  @include outer-container;

  @include media($mobile){
    @include shift(2.5);
  }
}

.shift-logo {
  width: em(140);
  margin-left: 3em;
}

section {
  @include padding(1.8em 0em);
  @include background-image(url($background-image-tesla-rear));
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 18em;
  text-align: center;

  @include media($mobile){
    display: none;
  }
}

.subtitle {
  @include outer-container;
  @include margin(4.4em 0 0 0);
  font-size: 1.5em;
  text-transform: uppercase;
  color: $white;
}

.content {
  @include padding(em(50));
  @include outer-container;
  text-align: center;

  @include media($mobile){
    @include margin(5em 0 0 0);
    @include padding(0.5em);
  }
}

.content-header {
  @include row();
}

a {
  @include padding(0.4em 0.85em);
  @include margin(2.65em 0 0 1.8em);
  @include border-top-radius(em(5));
  @include border-bottom-radius(em(5));
  @include transition(all 0.2s ease-in-out);
  display: inline-block;
  float: left;
  background-color: $button-color;
  color: $white;
  font-size: 0.65em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $button-color-hover;
  }

  @include media($mobile){
    @include margin(2em 0em);
    @include padding(1.5em);
    float: none;
    display: inline-block;
    width: 80%;
    font-size: 0.85em;
  }
}

.table-header {
  @include row();
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

.table-header-title {
  @include span-columns(4);
  @include margin(0);
}

.table-content {
  @include row();
}

ul {
  @include row();
  @include margin(0);
  @include padding(0);
  list-style: none;

  &:hover {
    @include transition(all 0.25s ease-in-out);
    background-color: $list-color-hover;
    border-radius: 0.125em;
  }
}

li {
  @include span-columns(4);
  @include margin(em(10) 0);
  display: inline-block;
  font-size: 0.9em;
}

.connect-requests {
  @include margin(0.5em 0 0 0);
}

.time-ten-plus {
  color: red;
  font-weight: 500;
}

.time-five-to-ten {
  color: $orange;
}

.time-two-to-five {
  color: $yellow;
}
