/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*  COLORS */
/* IMAGES PATHS */
/* PAGE STYLING */
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  color: #494d55;
}

h1 {
  margin: 0;
  font-size: 2.75em;
}

h2 {
  margin: 0.625em 0;
  display: inline-block;
  float: left;
  color: #323B4C;
  font-size: 1.8em;
  font-weight: 300;
}
@media screen and (max-width: 514px) {
  h2 {
    float: none;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 0.9em;
}

p {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25em 0 0;
  width: 100%;
  background-color: rgba(73, 77, 85, 0.7);
  max-height: 4.2em;
  z-index: 100;
}
@media screen and (max-width: 514px) {
  header {
    background-color: #494d55;
  }
}

nav {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 514px) {
  nav {
    margin-left: 21.2766%;
  }
}

.shift-logo {
  width: 8.75em;
  margin-left: 3em;
}

section {
  padding: 1.8em 0;
  background-image: url("../../images/tesla-rear-three-quarter.jpg");
  background-image: url("../../images/tesla-rear-three-quarter.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 18em;
  text-align: center;
}
@media screen and (max-width: 514px) {
  section {
    display: none;
  }
}

.subtitle {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin: 4.4em 0 0;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
}
.subtitle:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding: 3.125em;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 514px) {
  .content {
    margin: 5em 0 0;
    padding: 0.5em;
  }
}

.content-header {
  display: block;
}
.content-header:after {
  content: "";
  display: table;
  clear: both;
}

a {
  padding: 0.4em 0.85em;
  margin: 2.65em 0 0 1.8em;
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  float: left;
  background-color: #43A3C7;
  color: #fff;
  font-size: 0.65em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  background-color: #5cb9db;
}
@media screen and (max-width: 514px) {
  a {
    margin: 2em 0;
    padding: 1.5em;
    float: none;
    display: inline-block;
    width: 80%;
    font-size: 0.85em;
  }
}

.table-header {
  display: block;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.table-header:after {
  content: "";
  display: table;
  clear: both;
}

.table-header-title {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin: 0;
}
.table-header-title:last-child {
  margin-right: 0;
}

.table-content {
  display: block;
}
.table-content:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:after {
  content: "";
  display: table;
  clear: both;
}
ul:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #f2f2f2;
  border-radius: 0.125em;
}

li {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin: 0.625em 0;
  display: inline-block;
  font-size: 0.9em;
}
li:last-child {
  margin-right: 0;
}

.connect-requests {
  margin: 0.5em 0 0;
}

.time-ten-plus {
  color: red;
  font-weight: 500;
}

.time-five-to-ten {
  color: #f97800;
}

.time-two-to-five {
  color: #c9b414;
}

/*# sourceMappingURL=application.css.map */
