%header
  %img.logo{ src:"images/shift-logo@2x.png" }
.subtitle
  %h1 Tools
.content
  %h2 Connect Requests
  %a.refresh-request-list{ href:"/requests?status=waiting" } Refresh
  .connect-requests
    .table-header
      .table-header-title
        %h3 Time Waiting
      .table-header-title
        %h3 Customer Name
      .table-header-title
        %h3 Request Time
    .table-content
