!!! 5
%html
  %head
    %link{rel:'stylesheet',
          href:'/stylesheets/normalize.min.css'}
    %link{rel:'stylesheet',
          href:'/stylesheets/application.css'}
    %script{src:'/javascripts/jquery.min.js'}
    %title SHIFT - Connect Requests
  %body
    = yield
    %script{src:'/javascripts/application.js'}
